@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
::-moz-selection {
  /* Code for Firefox */
  color: #07D100;
  background: #00a6b9;
  -webkit-text-fill-color: #07D100;
}

::selection {
  color: #07D100;
  background: #00a6b9;
  -webkit-text-fill-color: #07D100;
}
::-webkit-scrollbar {
  width: 10px;
  height: auto;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 166, 185, 0.4);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 166, 185, 0.8);
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: inherit;
  scroll-behavior: smooth !important;
}
:root {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif, Lilita One, Arial, Helvetica, sans-serif;
  color-scheme: light dark;
  color: #00a6b9;
  background-color: #010208;
  scroll-behavior: smooth !important;
}

body {
  overflow: overlay;
  background-color: transparent;
  margin: 0;
  scroll-behavior: smooth !important;
}
